
<li class ="nav-item dropdown show">
    <a class ="dropdown-toggle nav-link text-dark" href ="#" data-toggle="dropdown">Admin</a>
    <div class ="dropdown-menu">
        <a class ="dropdown-item" asp-area="Admin" asp-controller="Car" asp-action = "Index">Cars</a>
        <a class ="dropdown-item" href ="#">Users to Cars</a>
    </div>
</li>
