@model RentACarApp.Models.Car

@{
    ViewData["Title"] = "Редактирай обявата";
}

<h1 class="header">Редактирай обявата</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-validation"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Make" class="control-label">Марка</label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Модел</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Дата на производство</label>
                <input type="text" id="ReleaseDate" name="ReleaseDate" 
                   value="@Model.ReleaseDate.ToString("dd-MM-yyyy")" class="datepicker form-control" />
                <span asp-validation-for="ReleaseDate" class="text-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена на ден</label>
                <input asp-for="Price" class="form-control" type="number" min="0" max="10000" step="1"/>
                <span asp-validation-for="Price" class="text-validation"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Тел.номер</label>
                <input asp-for="PhoneNumber" class="form-control" type="tel"/>
                <span asp-validation-for="PhoneNumber" class="text-validation"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back-button">Обратно</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    await Html.RenderPartialAsync("_DateScriptsPartial");
    }
}
